/* ------------------------- Fonts -------------------------------------------------- */

@font-face {
    font-family: "Montserrat, ExtraBold";
    src: url("../assets/fonts/Montserrat-ExtraBold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Montserrat, Bold";
    src: url("../assets/fonts/Montserrat-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Montserrat, SemiBold";
    src: url("../assets/fonts/Montserrat-SemiBold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Montserrat, Medium";
    src: url("../assets/fonts/Montserrat-Medium.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Montserrat, Regular";
    src: url("../assets/fonts/Montserrat-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: "DMMono-Italic";
    src: url("../assets/fonts/DMMono-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "DMMono-Medium";
    src: url("../assets/fonts/DMMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "DMMono-MediumItalic";
    src: url("../assets/fonts/DMMono-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "DMMono-Regular";
    src: url("../assets/fonts/DMMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "InstrumentSerif-Regular";
    src: url("../assets/fonts/InstrumentSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "InstrumentSerif-Italic";
    src: url("../assets/fonts/InstrumentSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PinyonScript-Regular";
    src: url("../assets/fonts/PinyonScript-Regular.ttf") format("truetype");
}


/* ================================= Colors ================================= */

:root {
    --purple-color: #582C83;
    --black-color: #181818;
    --dark-green-color: #597F2A;
    --blue-color: #5D99E7;
    --light-blue-color: #C1DCFF;
    --dark-blue-color: #0f4063;
    --yellow-color: #FFF100;
    --light-yellow-color: #FFF8BE;
    --offwhite-color: #ede6e7;
    --main-bg-color: #FFFBF1;
    --orange-color: #F78F4E;
    --pink-color: #FFCED9;
    
    --neon-color: #77C107;
    --light-grey-color: #8D8D8D;
    --grey-color: #ACACAC;
    --red-color: #FF0000;
    --white-color: #fcf9f9;
    --transparent-color: rgba(255, 0, 0, 0);
    --bg-blur: rgb(255 255 255 / 16%);
    --bg-blur-darker: rgba(29, 29, 29, 0.925);
    --small-gap: 1em;
    --general-gap: 3em;
    --big-gap: 7em;
    --section-padding: min(8vw, 8em);
    --section-padding-medium: min(7vw, 7em);
    --section-padding-small: min(4vw, 4em);
    --container-padding: clamp(2.5em, 6vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
    --title-size: clamp(1.5em, 5.5vw, 5em);
    --fast-transition: 0.3s cubic-bezier(0.3, 0.3, 0, 1);
    --g-transition: 0.5s cubic-bezier(0.6, 0.6, 0, 1);
    --smooth-transition: 0.7s cubic-bezier(0.5, 0.5, 0, 1);
    --border-radius: clamp(1em, 1.3vw, 1.3em);
    
    
    
    }

    /* ================================= Body =============================== */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--transparent-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}

*::-webkit-scrollbar-track {
  background: var(--black-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "DMMono-Regular", sans-serif;
  color: var(--black-color);
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-size: clamp(16px, 1.2vw, 19px);
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

/* ===================== Preloader ===================== */
body.loading {
	overflow: hidden;
	height: 100vh;
	cursor: wait;
}
body.loading.removePreloader {
	overflow: auto;
	overflow-x: hidden;
	height: auto;
	cursor: default;
}

@media only screen and (max-width: 1024px) {
	body.loading.removePreloader {
		overflow: auto;
		overflow-x: hidden;
	}
}

html {
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* Selection */
::selection {
  background-color: transparent;
  color: var(--main-color);
  text-shadow: none;
  pointer-events: fill;
}

::-moz-selection {
  background-color: transparent;
  color: var(--main-color);
  text-shadow: none;
  pointer-events: fill;
}

/* ==================== Typography ==================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
strong,
em {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 450;
  letter-spacing: normal;
}

h1 {
    line-height: 1.165;
    font-size: calc(clamp(2em, 5vw, 6em) * 1.3);
  }
  
  h2 {
    font-size: calc(clamp(1.5em, 5vw, 3.5em) * .8);
    line-height: 1.065;
  }
  
  h3 {
    font-size: clamp(1.35em, 3.35vw, 3em);
    line-height: 1.25;
  }
  
  h3.bigger-desc {
    font-family: 'Satoshi, Black', serif;
    line-height: 1.3;
    font-size: calc(clamp(1.3em, 3.35vw, 3em) * 1.2);
  }
  
  h4 {
    font-size: clamp(1.1em, 1.2vw, 1.4em);
    line-height: 1.45;
  }
  
  h4.bigger-desc, p.bigger-desc {
    font-size: calc(clamp(1.1em, 1.8vw, 2em) * 1.2);
  }
  
  h5 {
    font-size: 1em;
    line-height: 1.065;
    letter-spacing: 0.063rem;
  }
  
  h6 {
    font-size: 1em;
    line-height: 1.065;
    letter-spacing: 0.063rem;
  }
  
  h1,
  h2,
  h3 {
    color: var(--black-color);
    font-family: 'InstrumentSerif-Regular', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
  }
  
  h4,
  h5,
  h6 {
    color: var(--white-color);
    font-family: 'InstrumentSerif-Regular', sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  p {
    font-family: 'DMMono-Medium', sans-serif;
    font-size: 1.25em;
    line-height: 1.55;
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  p.small {
    font-size: .8em;
    line-height: 1.75;
    letter-spacing: .015em;
  }
  
  p.big {
    font-size: 1.4em;
    font-family: 'DMMono-Medium', sans-serif;
    font-weight: 600;
  }
  
  p.big.font-white.one-line {
    font-size: 1.15em;
  }
  
  a.general-link {
    color: var(--white-color);
    font-weight: 600;
  }
  
  a.general-link:hover {
    color: var(--gold-color);
  }
  
  .small-text {
    color: var(--gold-color);
    font-size: .5em;
  }
  
  .general-header-subs h3, .general-header-subs h4 {
    color: var(--white-color) !important;
    text-shadow: 0px 3px 6px #00000029;
    /* -webkit-text-stroke: 1px var(--dark-blue-color); */
  }
  
  span.link-tnc {
    display: block;
    text-decoration: underline;
    /* font-family: 'Cormorant, Italic', serif; */
  }
  
  .font-white {
    color: var(--white-color) !important;
  }
  
  .font-light-blue {
    color: lightblue;
  }
  
  .font-black {
    color: var(--black-color) !important;
  }
  
  
  .font-pink {
    color: var(--pink-color) !important;
  }
  
  .font-italic-bold {
    font-family: 'InstrumentSerif-Italic', sans-serif;
  }
  
  .font-secondary {
    font-family: 'Pinyon Script', serif !important;
  }
  
  .font-saonara {
    font-family: 'Made Saonara', serif !important;
  }

strong {
  font-weight: 800;
}

a {
  color: var(--black-color);
  text-decoration: none;
  padding: 0;
  margin: 0;
}

[class*="col-"] {
    float: left;
    /* padding: 10px; */
  }
  
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  [class*="col-"].no-padding {
    padding: 0;
  }
  
  @media only screen and (max-width: 767px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      padding: 0.5em 0;
    }
  }
  
  /* ipad/tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    [class*="col-"] {
      width: 100%;
    }
  }

  /* ===================== Custom Max Width ===================== */
  /* --- Custom max width --- */
  .mw-1255 {
    max-width: 1255px;
    }
    
    .mw-1200 {
    max-width: 1200px;
    }
    
    .mw-1150 {
    max-width: 1150px;
    }
    
    .mw-1000 {
    max-width: 1000px;
    }
    
    .mw-950 {
    max-width: 950px;
    }
    
    .mw-900 {
    max-width: 900px;
    }
    
    .mw-800 {
    max-width: 800px;
    }
    
    .mw-700 {
    max-width: 700px;
    }
    
    .mw-600 {
    max-width: 600px;
    }
    
    .mw-555 {
    max-width: 555px;
    }
    
    .mw-500 {
    max-width: 500px;
    }
    
    .mw-450 {
    max-width: 450px;
    }
    
    .mw-300 {
    max-width: 300px;
    }
    
    .mw-200 {
    max-width: 200px;
    }
    
    @media (max-width: 767px) {
    .mw-300-m {
    max-width: 300px !important;
    }
    
    .w-full-m {
    width: 100% !important;
    }
    
    .mw-full-m {
    max-width: 100% !important;
    }
    }

    .p-unset {
  padding: unset !important;
  }
  
  .pt-unset {
  padding-top: unset !important
  }
  
  .pt-150 {
  padding-top: 150px;
  }
  
  .pt-100 {
  padding-top: 100px;
  }
  
  .pt-90 {
  padding-top: 90px;
  }
  
  .pt-80 {
  padding-top: 80px;
  }
  
  .pt-50 {
  padding-top: 50px;
  }
  
  
  .pt-30 {
  padding-top: 30px;
  }
  
  .pt-20 {
  padding-top: 20px;
  }
  
  .pt-10 {
  padding-top: 10px;
  }
  
  .pr-50 {
  padding-right: 50px;
  }
  
  .pb-unset {
  padding-bottom: unset !important
  }
  
  .pb-20 {
  padding-bottom: 20px;
  }
  
  .pb-30 {
  padding-bottom: 30px;
  }
  
  .pb-50 {
  padding-bottom: 50px;
  }
  
  .pb-90 {
  padding-bottom: 90px;
  }
  
  .pb-100 {
  padding-bottom: 100px;
  }
  
  .mb-unset {
  margin-bottom: unset !important;
  }
  
  .mb-50 {
  margin-bottom: 50px;
  }
  
  .mb-20 {
  margin-bottom: 20px;
  }
  
  .mt-20 {
  margin-top: 20px!important;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .m-20 {
  margin: 20px;
  }
  
  .mh-100 {
  min-height: 100vh;
  }

  .p-unset {
    padding: unset !important;
    }
    
    .pt-unset {
    padding-top: unset !important
    }
    
    .pt-150 {
    padding-top: 150px;
    }
    
    .pt-100 {
    padding-top: 100px;
    }
    
    .pt-90 {
    padding-top: 90px;
    }
    
    .pt-80 {
    padding-top: 80px;
    }
    
    .pt-50 {
    padding-top: 50px;
    }
    
    
    .pt-30 {
    padding-top: 30px;
    }
    
    .pt-20 {
    padding-top: 20px;
    }
    
    .pt-10 {
    padding-top: 10px;
    }
    
    .pr-50 {
    padding-right: 50px;
    }
    
    .pb-unset {
    padding-bottom: unset !important
    }
    
    .pb-20 {
    padding-bottom: 20px;
    }
    
    .pb-30 {
    padding-bottom: 30px;
    }
    
    .pb-50 {
    padding-bottom: 50px;
    }
    
    .pb-90 {
    padding-bottom: 90px;
    }
    
    .pb-100 {
    padding-bottom: 100px;
    }
    
    .mb-unset {
    margin-bottom: unset !important;
    }
    
    .mb-50 {
    margin-bottom: 50px;
    }
    
    .mb-20 {
    margin-bottom: 20px;
    }
    
    .mt-20 {
    margin-top: 20px!important;
    }
    
    .mt-30 {
      margin-top: 30px;
    }
    
    .m-20 {
    margin: 20px;
    }
    
    .mh-100 {
    min-height: 100vh;
    }

  /* ===================== Mobile General ===================== */
  @media screen and (max-width:767px){
  
    .bold-quotes p {
    margin-bottom: 0 !important;
    }
    
    .custom-point li {
    font-size: .8em !important;
    }
    
    .j-center-m {
    display: flex !important;
    justify-content: center;
    }
    
    .flex-start-m {
    justify-content: flex-start !important;
    }
    
    .dp-m {
    display: block !important;
    }
    
    .dp-m-none {
    display: none !important;
    }
    
    .m-center-m {
    text-align: center;
    margin: 0 auto !important;
    }
    
    .p-unset-m {
    padding: unset !important;
    }
    
    .pt-unset-m {
    padding-top: unset !important;
    }
    
    .pt-5-m{
      padding-top: 5px!important;
    }
    
    .pt-20-m {
    padding-top: 20px !important;
    }
    
    .pt-30-m {
    padding-top: 30px !important;
    }
  
    .pt-40-m {
      padding-top: 40px !important;
    }
    
    .pt-50-m {
    padding-top: 50px;
    }
    
    .pt-80-m {
    padding-top: 80px;
    }
    
    .pt-100-m {
    padding-top: 100px;
    }
    
    .pt-150-m {
    padding-top: 150px !important;
    }
    
    .mh-m-100 {
    min-height: unset !important;
    }
    
    .left-zero-m {
    left: 0px !important;
    }
    
    .mb-unset-m {
    margin-bottom: unset !important;
    }
    
    .center {
    width: 100% !important;
    }
  
    .pb-unset-m {
      padding-bottom: unset !important;
    }
  
    .pb-10-m {
      padding-bottom: 10px !important;
    }
    
    .pb-30-m {
    padding-bottom: 30px !important;
    }
    
    .pb-20-m {
    padding-bottom: 20px !important;
    }
  
    .pb-40-m {
      padding-bottom: 40px !important;
    }
    
    .pb-50-m {
    padding-bottom: 50px !important;
    }
    
    .general-big-desc{
      padding: 0 1rem;
    }
    
    .general-header-wrapper.top{
      margin-top: 1em;
    }
    
    
    p.big{
        font-size: 1.15em!important;
    }
    
    p.font-white{
        font-size: 1.15em!important;
    }
    
    p.font-white.tnc{
        font-size: 1em!important;
    }
    
    p {
      font-size: 1em!important;
    }
    
    .small-text {
      font-size: .65em;
    }
    
    
    
    
    }